@model IEnumerable<AppRole>
@{
    ViewData["Title"] = "Roles";
}

<h1 class="bg-info text-white">Todas as Roles</h1>
<a asp-action="Create" class="btn btn-secondary">Adicionar uma Role</a>

<table class="table table-sm table-bordered table-bordered">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Utilizadores</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td i-role="@role.Id"></td>
            <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Actualizar</a></td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
    }
</table>